[2019-11-19 20:32] havok2063 commented on #683
Hi @goyarzun `marvin` now requires token authentication to access the API.  We made this change once we released marvin publicly with DR15.  See [here](https://sdss-marvin.readthedocs.io/en/stable/installation.html#sdss-collaboration-access) for information on how to set up `marvin` and authenticate to access MPL data.   This change occurred with `marvin` version `2.3.0`.     Let us know if you ha

[2019-11-21 17:47] cptkirkh opened #686 "numpy.add not implemented on Enhanced Map"
**Describe the bug**
When running the notebook Spatially-Resolved Mass-Metallicity Relation I get the following error..
NotImplementedError: numpy.add is not implemented for EnhancedMap.

**To Reproduce**
Steps to reproduce the behavior:
Run the notebook

**Expected behavior**
A clear and concise description of what you expected to happen.
Should be able to perform the jupyter notebook that was do

[2019-11-22 19:20] bretthandrews opened #688 "Update Citation to Marvin Paper"
The bibtex citation in the docs still references the arxiv version of the paper instead of the AJ version.

[2019-11-22 21:17] cptkirkh commented on #686
That fixed it.  Thanks!!

[2019-11-25 22:12] goyarzun commented on #683
Whoops, thanks for clarifying @havok2063

[2019-11-25 22:12] #683 closed

[2019-11-27 17:13] havok2063 commented on #613
This is resolved with the merge of #652.

[2019-11-27 17:13] #613 closed

[2019-11-27 17:13] havok2063 commented on #590
This has now been resolved with the PR #652 and merged in.  It will be available in the next release of Marvin.

[2019-11-27 17:13] #590 closed

[2019-11-27 17:14] havok2063 commented on #429
This has been resolved with PR #652 and merged in.  It will be available in the next release of Marvin.

[2019-11-27 17:14] #429 closed

[2019-11-27 17:15] havok2063 commented on #316
This has been resolved with PR #652 and merged in.  It will be available in the next release of Marvin.

[2019-11-27 17:15] #316 closed

[2019-11-27 17:16] havok2063 commented on #615
This has been resolved with PR #652 and merged in.  `sdss_access` now seems to construct paths correctly on Windows machines.

[2019-11-27 17:16] #615 closed

[2019-11-27 17:17] havok2063 commented on #628
Marvin seems to work on Windows now with the completion and merge of PR #652.  It may not be necessary at this time to convert paths to use `pathlib.Path`.  Closing this and we can open a new issue if we need to.

[2019-11-27 17:17] #628 closed

[2019-11-27 17:19] havok2063 commented on #420
With the completion and merge of PR #652, Marvin should now more robustly work on Windows machines.  The updates will be available in the next release of Marvin.  The API limit will also be removed in the coming update. Closing this for now.

[2019-11-27 17:19] #420 closed

[2019-11-27 17:20] havok2063 commented on #397
This has been resolved in PR #652

[2019-11-27 17:20] #397 closed

[2019-11-27 17:20] havok2063 commented on #614
This was completed in PR #652 and merged in.

[2019-11-27 17:20] #614 closed

[2019-11-30 16:48] cptkirkh opened #689 "Spatially-Resolved Mass-Metallicity Relation Tutorial: Issue Loading Firefly Data"
I just have a question about Spatially-Resolved Mass-Metallicity Relation jupyter notebook.  How do you extract the stellar mass from the fits file?

import pandas as pd
mstar = pd.read_csv(join(path_data, 'manga-{}_mstar.csv'.format(maps.plateifu)))

I see in hdu1 I see  PHOTOMETRIC_MASS and then again in hdu11 I see Stellar Mass.  Which of there do I pull and how?  I am a new Astronomy student a

[2019-12-02 15:12] bretthandrews commented on #689
The code that you quoted is a Pandas function to read a csv file (which you don't have), and it won't read the Firefly FITS file. The code below will parse the Firefly FITS file and produce the needed csv file, which can be read in with Pandas.

I wrote this notebook as an exercise for a class, but I thought that extracting the spatially resolved stellar mass measurements from the Firefly catalog

[2019-12-02 20:40] bretthandrews commented on #689
The `manga-8077-6104_mstar.csv` file is now available on this build of the docs: https://sdss-marvin.readthedocs.io/en/bug-686-map-arith/tutorials/exercises.html

(which will be incorporated shortly into the docs going forward).

[2019-12-02 20:40] #689 closed

[2019-12-04 22:09] #686 closed

[2019-12-04 22:25] havok2063 commented on #688
This was fixed in PR #687

[2019-12-04 22:25] #688 closed

[2019-12-05 09:02] ddzs1234 opened #690 "found a problem when checking if remote cube exists: Requests Connection Error: HTTPSConnectionPool(host='dr15.sdss.org', port=443): Read timed out."
**Describe the bug**
![image](https://user-images.githubusercontent.com/57035405/70220013-d2510800-1780-11ea-8374-da9245c277f6.png)
I can't access remote cube data from dr15.

**Desktop (please complete the following information):**
 - OS:Ubuntu 18.04
 - Browser : Firefox

[2019-12-05 22:43] havok2063 commented on #690
Hi @ddzs1234, the main site was down for a little while yesterday or a few days ago.  Can you try again?  Your code works for me.  One thing to keep in mind as well is that accessing the full `cube.flux` remotely over the API may take some time, especially for larger cubes.  If you're only interested in a few spaxels, it's faster to either slice `flux` and access only the spaxels you are intereste

[2019-12-05 22:45] havok2063 commented on #676
Closing this as the documentation update as been merged.

[2019-12-05 22:45] #676 closed

[2019-12-05 22:46] havok2063 commented on #675
The link has been added back into the latest docs to be released soon.  It seems like everything else is working so far.  Closing this for now.

[2019-12-05 22:46] #675 closed

[2019-12-05 22:48] havok2063 commented on #597
Done.

[2019-12-05 22:48] #597 closed

[2019-12-06 14:39] ddzs1234 commented on #690
It works well now. thanks for your help!

[2019-12-06 14:39] #690 closed

[2019-12-06 19:44] havok2063 commented on #581
This is implemented for DR16 tag and will be merged soon.

[2019-12-06 19:44] #581 closed

[2019-12-06 19:45] havok2063 commented on #682
I've added a new pop up with links about various related info about DAP MAPs.  Will be merged for DR16 tag.

[2019-12-06 19:45] #682 closed

[2019-12-06 19:50] havok2063 commented on #470
I think this can be effectively closed.

[2019-12-06 19:50] #470 closed

[2019-12-08 03:27] ddzs1234 opened #691 "marvin.core.exceptions.MarvinError: trying to set an invalid release version. Valid releases are: DR15"
**Describe the bug**
I can't access local data correctly.  when I tried to use the code below, marvin still points to $SAS_BASE_DIR+'/dr15/manga......'.
[code]
![image](https://user-images.githubusercontent.com/57035405/70383719-a6669a00-19ad-11ea-97b9-1084976fd383.png)
I have no idea why I followed this code that

Then I ADD ''marvin.config.setRelease('v2_5_3')", I got:
marvin.core.exceptions.Mar

[2019-12-09 01:28] #171 closed

[2019-12-10 00:35] kbundy opened #692 "Image cutouts are not loading, regardless of login (public or private) and with Chrome and Safari. Error message is: "Error: could not get images: sdss_access is not installed.""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follo

[2019-12-10 03:03] havok2063 commented on #692
@kbundy Thanks for pointing this out.  We had an outdated version of `sdss_access`, the code used to grab images, installed on the lore, the machine where marvin is run.  It should be fixed now.

[2019-12-10 03:03] #692 closed

[2019-12-12 03:02] havok2063 commented on #679
This has been implemented and merged in 2.3.5 for MPL-9.

[2019-12-12 03:02] #679 closed

[2019-12-12 03:02] havok2063 commented on #648
This has been implemented and merged into 2.3.5 for MPL-9

[2019-12-12 03:02] #648 closed

[2019-12-12 03:03] havok2063 commented on #112
This has been implemented and merged in 2.3.5 for MPL-9

[2019-12-12 03:03] #112 closed

[2019-12-12 03:04] havok2063 commented on #208
This has been implemented and merged in 2.3.3 for DR16.

[2019-12-12 03:04] #208 closed

[2019-12-12 03:18] havok2063 commented on #691
@ddzs1234 Marvin requires a version match between the file you are trying to load and the release set by the `config`.  It looks like by default Marvin is set to use DR15 data but you are trying to load MPL-8 data.  You need to first set the release as MPL-8

[code]
That said, we could probably make it fail a bit more cleanly when there's a version mismatch between Marvin and the file you are tryi

[2019-12-12 03:19] havok2063 commented on #685
Closing this as the latest release of marvin has the API limit turned off.

[2019-12-12 03:19] #685 closed

[2019-12-12 03:23] havok2063 commented on #502
Closing this as the API rate limit is turned off as of 2.3.5.

[2019-12-12 03:23] #502 closed

[2019-12-25 11:50] rkkuang opened #693 "[Solved] MarvinError: failed to retrieve data using input parameters - a missing parameter in source code of rss.py"
marvin version: 2.3.2
python version: 3.7.5

after the following codes:
`rss = marvin.tools.RSS('8243-3704')`
<Marvin RSS (mangaid='1-47290', plateifu='8243-3704', mode='local', data_origin='file')>
i.e. the rss file is locally stored,
and `rss.filename` gives the right path of that file,
but while calling the getCube() method:
`cube = rss.getCube()`
an error comes out:

--------------------------

[2019-12-25 15:54] #693 closed

[2019-12-30 04:24] helpErum opened #694 "MarvinError: Could not retrieve https://svn.sdss.org/public/repo/manga/mangacore/tags/v1_2_3\metrology/fiducial/manga_simbmap_127.par file remotely."
Trying to run this program in Jupyter on Windows 10 using python 3.7.5.

**Code:**
import os
os.environ['HOME']='C:\\Users\\XXXX' # My home directory
os.environ['SAS_BASE_DIR'] = os.path.join(os.getenv("HOME"), 'sas')
import matplotlib.pyplot as plt
from marvin.tools.maps import Maps
import marvin.utils.plot.map as mapplot
from marvin.tools.image import Image
plt.style.use('seaborn-darkgrid')  # s

[2020-01-07 22:23] karenlmasters opened #695 "Improve error message when no map available for a galaxy"
Trying to obtain the maps data for 8549-12703 (https://dr16.sdss.org/marvin/galaxy/8549-12703/) results in the following error:

"Error: Error getting maps: Could not get map for: stellar_vel, emline_gflux:ha_6564, specindex:d4000. Please select another."

Discussion with Brian revealed this:

"It looks like you found one of the targets that failed to process through the HYB10 stage of the DAP for

[2020-01-08 21:41] raddick opened #696 "Can't save spaxel of DB origin"
**Describe the bug**
In the Marvin kinematics tutorial, gives an error in this line:

[code]
MarvinErrorTraceback (most recent call last)
<ipython-input-7-f23cf7f92ab1> in <module>
      1 # Stack spectra with (Halpha vel - stellar vel) between -70 and -40
      2 ind_neg = np.where((diff.value > -70) & (diff.value < -40))
----> 3 stack_neg = stack_spectra(ind_neg)
      4 #stack_spectra(ind_neg)

[2020-02-11 12:43] tsfraser opened #697 "Galaxy Zoo table displays incorrect MaNGA ids and data type"
**Describe the bug**
The MANGAID column of the galaxy zoo value added catalog (VAC) appears to display the invalid MaNGA ids, and as Bytes instead of strings. This problem occurs both when the data is remotely accessed, and when the table is downloaded and locally imported as a FITS file.

**To Reproduce (local)**
Steps to reproduce the behaviour:
1. Imported the FITS file using astropy:
`from ast

[2020-02-12 18:02] havok2063 commented on #697
Thanks @tsfraser for pointing this out.  This looks like an issue with the underlying VAC data rather than any of the Marvin VAC tools, which serve that data.  Can you provide a few examples of mangaids that are incorrect, and what the correct mangaid should be?  Is this for DR15?

Can you provide an example where the `bytes` vs `str` issue is causing you a problem?  The type of the data is still

[2020-02-25 22:21] yuanzeluo opened #698 "Data accessing and not found error"
Hi, I'm trying to use marvin to access maps and spectra for a lot of galaxies/spaxels. While looping, I always get following errors:
<img width="998" alt="Screen Shot 2020-02-25 at 12 37 53" src="https://user-images.githubusercontent.com/28064192/75292097-877be500-57f1-11ea-9e6b-3709b29b1ca5.png">
<img width="991" alt="Screen Shot 2020-02-25 at 15 02 39" src="https://user-images.githubusercontent.

[2020-03-13 17:05] havok2063 commented on #647
This was implemented with version 2.3.5 in December.

[2020-03-13 17:05] #647 closed

[2020-03-17 08:50] izkgao opened #700 "AttributeError: 'FlaskParser' object has no attribute 'location_handler'"
**Describe the problem**
I tried to import marvin after installing on a conda environment via pip, but this attribute error occurred.

**To Reproduce**
1. install sdss-marvin via pip
2. import marvin using jupyter notebook or spyder
3. error occurs

**Expected behavior**
No error occurs.

**Screenshots**
![image](https://user-images.githubusercontent.com/16133788/76838218-da840d80-686e-11ea-82a7-f

[2020-03-17 14:20] havok2063 commented on #700
Hi @izkgao.  This error is due to the latest update in the `webargs` python package, the `6.0.` series.  A fix will be released soon.  Temporarily you can downgrade to the latest `5.5.x` version of `webargs`, with `pip install webargs==5.5.3`.

Also, to eliminate a possible package version mismatch you may experience with `networkx`, please install version `2.3` with `pip install networkx==2.3`

[2020-03-18 02:22] izkgao commented on #700
After I tried the solution @havok2063 provided, the problem solved. I can import `marvin` now.
Thank you so much.

[2020-03-18 02:22] #700 closed

[2020-04-15 14:13] bbemc2 opened #701 "cannot find Maps file for plateifu='8312-6101'"
**Describe the bug**
cannot retrieve Maps file for plateifu='8312-6101'

Traceback (most recent call last):

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. maps = Maps(plateifu='8312-6101')
2. image = Image(plateifu='8312-6101')
image.plot()

**Expected behaviour**
I should be able to connect the maps file and make some plots.

**Screenshots**
If applicable, add screenshots to help

[2020-04-23 21:06] sjshamsi opened #702 "Error installing Marvin | ERROR: Command errored out with exit status 1"
**Describe the bug**
I encounter an error when trying to install Marvin on my new computer by using `pip install sdss-marvin`. This might be specific to my setup (explained in additional context below).

**To Reproduce**
Run `pip install sdss-marvin`. I added the output separately because of formatting problems with copy-paste.

**Desktop (please complete the following information):**
 - OS: Ubunt

[2020-04-24 14:04] havok2063 commented on #702
@sjshamsi  Glad you were able to resolve it.  Pasting the relevant part of your log below.  Looks like you had a problem with installing the `python-Levenshtein` package which is package for fast string comparisons but has C-code, so requires a C-compiler.  Looks like the `gcc` compiler wasn't installed or was looking in the wrong place for it.   There might be a different between compilers used b

[2020-04-24 14:05] #702 closed

[2020-04-24 14:09] havok2063 commented on #701
@bbemc2 This plate-ifu is not a real galaxy.  It's a FILLER galaxy with a "Do Not Use" quality flags set for the Cube.  So it was never processed through the Data Analysis Pipeline to produce MAPS files.   See https://dr16.sdss.org/marvin/galaxy/8312-6101/

[2020-04-24 14:09] #701 closed

[2020-04-24 14:13] havok2063 commented on #698
@yuanzeluo Can you copy and paste the full traceback?  I'll have a better sense of what the problem is then.  Does the error occur at exactly the same place each time?  What line of code does it occur on?  How many galaxies do you loop through before the error occurs?   Can you explain a bit more what the problem you're trying to solve is?

[2020-07-07 16:12] #695 closed

[2020-07-28 15:31] sjshamsi opened #704 "BrokenPipeError: [Errno 32] Broken pipe"
Hello!

I get a broken pipe error when importing `marvin.tools.maps`. I had installed the Conda 2.3.6 version of Marvin and then pip upgraded ti to 2.4.0. After this upgrade, I received an error saying `sdss-access` was not installed. After I pip installed sdss-access, I got the following error:

[code]

**To Reproduce**
`from marvin.tools.maps import Maps`

**Desktop (please complete the followin

[2020-08-04 23:26] jacquelinegit opened #705 "Marvin down"
when accessing marvin through python I get the following, no matter which cube I am trying to load:

raise BrainError('No URL Map found. Cannot make remote call')
brain.core.exceptions.BrainError: No URL Map found. Cannot Make remote call.

So then I tried to go to marvin online ( https://dr15.sdss.org/marvin/ ) and got a 502 Bad Gateway

Any help or explanation appreciated! I am using MaNGA data

[2020-08-05 01:33] havok2063 commented on #705
HI @jacquelinegit .  Marvin is down for the moment for database repair and maintenance.  So the API will not currently work.  We are actively working on setting up a mirror web site and hopefully aiming to get the database back up and running by the end of the week.

[2020-08-05 02:54] jacquelinegit commented on #705
Thanks very much for the update!

[2020-08-08 12:29] ploberg opened #706 "Authentication API error (first-time user)"
I am a first-time user of the Marvin feature. I have been following the Getting started guide provided to create my first program in Python and successfully compiled it. Later on, after a few times of using it, I get the following error when calling for a Map or Cube giving its plateifu: `found a problem when checking if remote maps exists: API Authentication Error: Please check your authenticatio

[2020-08-08 13:41] havok2063 commented on #706
Hi @ploberg, we're glad you're getting started with Marvin.  If Marvin was working for you recently but stopped working in the last few weeks, it is because the database and web have been down for maintenance and repair.  Things should be back up soon.  That might be the cause of the errors you are seeing.  Are you a member of the SDSS collaboration?  If not, we normally have public access to the

[2020-08-08 14:49] ploberg commented on #706
Thank you for answering! I am not a member of the SDSS collaboration, so I understand I do not have to register anywhere. I found it strange because just a week ago I could work with Marvin and had any problem, but now I've had this trouble. Regarding what you said, the reason my code does not work is not my fault, but the server being down, so I should expect it to run without misbehavings in the

[2020-08-12 22:30] #436 closed

[2020-08-12 22:31] #667 closed

[2020-08-12 22:32] sjshamsi commented on #593
This works now!

[2020-08-12 22:32] #593 closed

[2020-08-12 22:32] #594 closed

[2020-08-17 19:59] havok2063 commented on #706
@ploberg ok, yes you haven't done anything wrong.  You do not need to register anywhere.  The issue is we're still actively doing maintenance on Marvin and the database.  You can still access the web version of Marvin.  I will look into getting the public version of the tools back up and running in some form in the short term.  Thanks for your patience.

[2020-08-18 01:45] sjshamsi opened #707 "Unable to install Marvin with Conda or PIP"
**Describe the bug**
I am unable to install Marvin from within MiniConda or from PIP.

When I try to create the `marvin` environment through the `.yml` file available on the documentation page, I receive the following error:

[code]
For the error above, I have tried removing the platform details after the package version in the `.yml` file, as well as tried moving the packages from the **dependenc

[2020-08-18 02:00] sjshamsi commented on #707
I also tried to install on a fresh Ubuntu installation and ran `pip install sdss-marvin` and encountered the following error:

[code]

[2020-08-19 13:05] wostling opened #708 "HTTPError(First time user)"
I am using Juypter notebook.
When I run the following code:
[code]
The first error that this returns is:
[code]
Then I get the error:
[code]
And then finally this:
[code]
I am quite new to this, and so I am not exactly sure what is going on. I installed Marvin through pip, and I just copied the code from a Marvin galaxy page. I added the lines
[code]
when I got an error, but they did not seem to s

[2020-08-19 14:15] havok2063 commented on #707
@sjshamsi thanks for pointing this out.  Regarding this first error, the `python-Levenshtein` package requires compilation of c code using `gcc`.  I haven't extensively tested marvin on a linux machine.  I would try installing that package separately, and making sure you have a valid `gcc` compiler set up.  I found this link, https://zoomadmin.com/HowToInstall/UbuntuPackage/python-levenshtein, and

[2020-08-19 21:49] sjshamsi commented on #707
@havok2063 Thank you for your response! I updated a fresh Ubuntu installation, installed `gcc` with `sudo apt install build-essential`, and installed Miniconda. After this I was able to `pip install sdss-marvin` with no issues.

However using ` conda env create -f marvin_2.3.5.yml` yielded the same error with `gcc` installed.

In addition, I got the same error as in my second post (`No matching di

[2020-08-27 04:31] junohsu commented on #705
I tried to access MPL9 data with collab authority and got "BrainError: No URL Map found. Cannot make remote call" as well. Is Marvin still down currently?

Also, would MPL9 accessible from Marvin web, or MPL10 accessible from Marvin package in the near future?

Thank you,
Yun-Hsin

[2020-08-27 09:00] stirfryannie commented on #705
Hi,

I'm also still recieving this error. Is the database still down?

Stephanie

[2020-08-27 13:41] havok2063 commented on #705
Hi @junohsu @stirfryannie.  Yeah the database is still down but I'm doing the final cleanup of it now.  Once that is finished, I can restart things at Utah and MPL-9 will be available again.  Marvin should be back up in the next few days.  MPL-10 would become available shortly after that, once I can finish the loading process.

[2020-08-30 18:11] junohsu commented on #705
Hi @havok2063 , thank you very much for the update!

[2020-09-04 19:54] #705 closed

[2020-09-08 18:11] havok2063 commented on #705
Hi @junohsu @stirfryannie @jacquelinegit , the main manga database at Utah is back up and running. You should have access to MPL-10 at Utah now via Marvin Web.  If you update to sdss-marvin 2.5.0 you should be able to access MPL-10 via the Python tools.  You should be able to make remote calls over the API again.

[2020-09-08 18:13] havok2063 commented on #706
@ploberg The database is back up and running.  If you update your marvin package to the latest version, `2.5.0` all the public access should be sorted.  Can you try again and let me know if things work for you?

[2020-09-08 18:14] havok2063 commented on #704
@sjshamsi Can you update marvin to the latest version, 2.5.0 and let me know if you are still getting this problem.

[2020-09-08 18:16] havok2063 commented on #708
@wostling Could you update your marvin to latest version, `2.5.0` and try again?  The error you were getting was related to some shuffling that was happening on the server-side while the database was down for maintenance.  Can you let me know if you're still having the same problem?

[2020-09-08 23:03] wostling commented on #708
It works now! Thank you very much!

[2020-09-08 23:03] #708 closed

[2020-09-10 14:13] NoraMiau opened #710 "Marvin import problem"
**Describe the bug**
A clear and concise description of what the bug is.
error when importing marvin new version

**To Reproduce**
Steps to reproduce the behavior:
import marvin

`NoSectionError                            Traceback (most recent call last)
<ipython-input-9-687634c49f91> in <module>
----> 1 import marvin
      2 from matplotlib import pyplot as plt
      3 from matplotlib import col

[2020-09-10 14:47] havok2063 commented on #710
Hi @NoraMiau can you provide some more context on this?  What version of marvin are you using?  Are you using Anaconda for your Python installation?  Are you a member of the SDSS collaboration?   I can try to reproduce your error on Mac OS but I won't be able to fully reproduce your error since I don't have a machine with Windows 10.

[2020-09-10 17:51] NoraMiau commented on #710
Hi! thanks for replying
well, de code was working until last sunday, then I update marvin to the last version (2.5.0) and the bug showed up. Now I can't import marvin...
I don't use anaconda and I'm not a member of the SDSS collaboration.
So, maybe is a Windows's issue?

[2020-09-11 18:39] havok2063 opened #711 "quality and target modal fails to pop up for some galaxies in the web"
The quality and target flag dialog windows do not pop up in the web, for some galaxies, e.g. 9678-3704; https://dr16.sdss.org/marvin/galaxy/9678-3704/.

An error in the console indicates
[code]
which points to  `let redshift = 'z' in nsadict ? nsadict['z'] : null;` in `galaxy.js`.   This galaxy appears not to have NSA info, which would cause this error.

[2020-09-11 19:02] havok2063 commented on #710
The error you are getting is in some of the dependencies of Marvin.  It could be Windows related, but could also be a bug with those dependencies introduced in the latest version of marvin.  I'll need to take a look.  In the meantime you should be able to go back to your previous version of marvin and things should still work.

[2020-09-16 18:40] mj-astrotoy opened #712 "An issue after intall new version of marvin for MPL-10"
**Describe the bug**
I installed new version marvin for MPL-10.
I could not import marvin in python.
This issue seems to be same as one of the below post. I would add the error message and result of "check_marvin" on terminal to help you.

This is the check list when "check_marvin" on terminal
=======================================================================

System Checks
Your Python Versio

[2020-09-16 18:54] havok2063 commented on #712
@mj-astrotoy ok thanks, I'll take a look.  What version of marvin did you have before?  And you just ran `pip install -U sdss-marvin`, correct?

[2020-09-17 11:11] havok2063 commented on #712
@mj-astrotoy Can you do the following in an python session and tell me what it says?
[code]
 It looks like you might be using a standalone package of `sdss-tree`.     If that's the case can you try running `pip install -U sdss-tree` and `pip install -U sdss-access` and trying again?

[2020-09-17 11:13] havok2063 commented on #710
@NoraMiau Can you do the following in an python session and tell me what it says?
[code]
It looks like you might be using a standalone package of sdss-tree. If that's the case can you try running `pip install -U sdss-tree` and `pip install -U sdss-access` and trying again?

[2020-09-24 04:38] NoraMiau commented on #710
Hi!! Running `pip install -U sdss-tree` and `pip install -U sdss-access` solves the problem!!
Thank you !!

[2020-09-25 13:44] #710 closed

[2020-09-25 13:48] havok2063 commented on #707
@sjshamsi  Sorry for the delay on this.  That's strange you're getting a pip error with `sdsstools`.  Here is the pypi package, https://pypi.org/project/sdsstools/.  If you continue to get this error with `sdsstools`, I can pass it along to the developers of that package.

[2020-09-25 17:06] #711 closed

[2020-10-01 19:05] havok2063 commented on #643
Completed.

[2020-10-01 19:05] #643 closed

[2020-10-01 19:05] havok2063 commented on #644
Completed.

[2020-10-01 19:05] #644 closed

[2020-10-01 19:05] havok2063 commented on #645
Completed.

[2020-10-01 19:05] #645 closed

[2020-10-01 19:06] havok2063 commented on #646
Completed.  This is now released as `marvin-wtforms-alchemy`

[2020-10-01 19:06] #646 closed

[2020-10-01 19:09] havok2063 commented on #298
This was implemented in `sdss-access 1.0`

[2020-10-01 19:09] #298 closed

[2020-10-01 19:10] havok2063 commented on #21
Don't think we need this anymore.

[2020-10-01 19:10] #21 closed

[2020-10-01 19:15] havok2063 commented on #322
This is no longer relevant with the merge of #714.  Closing.

[2020-10-01 19:15] #322 closed

[2020-10-01 19:18] havok2063 commented on #214
No more extern packages.  Closing.

[2020-10-01 19:18] #214 closed

[2020-10-01 19:20] havok2063 commented on #96
Closing.  Implemented in #703

[2020-10-01 19:20] #96 closed

[2020-10-01 19:25] havok2063 commented on #586
This has effectively been implemented with `cube.get_available_bintypes()`

[2020-10-01 19:25] #586 closed

[2020-10-27 16:08] stirfryannie opened #715 "Error collecting maps from API"
Error thrown when collecting maps from the API. Started in the past week (everything ran fine last week).

Error attached below:

[code]

[2020-10-27 16:18] stirfryannie commented on #715
Considered whether I had an expired token so refreshed the login and tried to access a cube from the API and received extra errors, as below:

[ERROR]: Traceback (most recent call last):
  File "/home/sc381/anaconda3/lib/python3.7/site-packages/marvin/extern/marvin_brain/python/brain/api/api.py", line 200, in _checkResponse
    isbad = response.raise_for_status()
  File "/home/sc381/anaconda3/lib/

[2020-10-27 17:42] havok2063 commented on #715
Hi @stirfryannie I'll try to take a look.  What version of marvin are you using?  Which data release and galaxy are you trying to access?

[2020-10-27 17:55] stirfryannie commented on #715
Hey Brian,

Thanks so much.

I'm using version 2.5.0
I haven't updated this since everything was last working fine.

I'm accessing MPL-10
Again, this was accessible last week, and haven't changed anything

The original error was accessing "10001-12704", but also got the same errors trying to access a Cube for "8485-1901"

Hope this helps you look into it.

[2020-10-27 18:19] margudo commented on #715
Hello,
I saw this error in Slack and I was going to open a ticket.
To provide more information, I can access the same data in DR15 release, but not for MPL-10.
When I do:
`config.release = 'MPL-10'`
And then:
`cube = Cube('8485-1901', mode='remote')`
I'm getting the following error message:

`[ERROR]: Traceback (most recent call last):
  File "/home/maria/.local/lib/python3.6/site-packages/brain/a

[2020-10-28 17:35] havok2063 commented on #715
Hi @stirfryannie,

So I tried this out in a fresh environment and can't reproduce your error.   I originally used the latest `marvin 2.5.2` and was successful, then I reinstalled `marvin 2.5.0` and was it also worked.  Your error makes me think there's a possible conflict between the version of marvin you are using and the version of marvin running the remote server.  Can you try updating to `marv

[2020-10-28 22:37] stirfryannie commented on #715
Hi Brian,

Updating to 2.5.2 seems to have solved the issue and everything is running fine again. Thanks so much. Strange that this happened, was something changed on the remote server in the past few days? Regardless, this should hopefully be solved now on my end at least. Thanks again

[2020-10-29 19:55] havok2063 commented on #715
Hi @stirfryannie,

I don't think the server has been updated in the past few days.  The last update and restart was at least a few weeks ago.   It's possible there's still some underlying hidden bug, but updating further obscures it.  I'll close this issue for now.  If you encounter it again feel free to file a new issue and I'll take a deeper look.

[2020-10-29 19:55] #715 closed

[2021-01-23 18:53] astromariarosa opened #717 "Installation - check_marvin ValueError"
**Describe the bug**
Attempted to install Marvin on a new computer in a miniconda environment with collab access and .netrc files set up correctly. Marvin seemed to install without issues, but when I ran check_marvin, Marvin Checks threw a ValueError, which then caused an ImportError.

**To Reproduce**

Output:

System Checks
Your Python Version: 3.7.9
Full Version: 3.7.9 (default, Aug 31 2020, 07

[2021-01-24 14:03] havok2063 commented on #717
@astromariarosa This looks like an issue with the `sdsstools` package.  In your environment, can you try upgrading it to the latest version, with `pip install -U sdsstools`, and see if that fixes it?

[2021-01-24 18:31] astromariarosa commented on #717
check_marvin results in the same error readout after each of the following, in order:
1. updating sdsstools
2. restarting my computer
3. uninstalling sdsstools, restarting my computer, and reinstalling the most updated version of sdsstools
4. uninstalling Marvin, restarting my computer, and reinstalling Marvin.

Sorry for the trouble. Is this something I should open an sdsstools ticket for, or do

[2021-01-24 23:46] havok2063 commented on #717
what version of `marvin` and `sdsstools` are you using?  I'll see if I can recreate it.

[2021-01-25 01:34] astromariarosa commented on #717
`sdsstools` Version 0.4.6
`sdss-marvin` Version 2.5.2

[2021-01-25 20:29] havok2063 commented on #717
Can you check in the location where conda installed marvin and make sure you have a `data/marvin.yml` file included?  If you installed in an environment, it should be something like `envs/[ENV_NAME]/lib/python3.7/site-packages/marvin`.  Can you also check if you have a valid user configuration file, most likely in `~/.marvin/marvin.yml`.

what happens if you open up ipython and type the following

[2021-01-27 18:47] astromariarosa commented on #717
Both files existed, but I made a typo when writing the user configuration file. Now that that's fixed, those lines in iPython are returning ` {'check_access': True, 'use_token': '', 'default_release': 'DR15'}`.

`check_marvin` is returning warnings relating to the DRP/DAP directories because I haven't set those up yet, but everything else seems to be fine.

Thank you for the help, sorry it was jus

[2021-01-27 18:55] havok2063 commented on #717
Excellent!  Glad to hear it's working now.  And no worries, half my problems stem from my own user error.  ;)  I'll go ahead and close this ticket.

[2021-01-27 18:55] #717 closed

[2021-02-16 04:57] manduhmia opened #718 "No Results for Newest Marvin Release-Python"
**Describe the bug**
Marvin's newest release not found and MPL not recognized. Trying to change release to MPL-10('v3_0_1').
Error code:

BrainError                                Traceback (most recent call last)
~/opt/anaconda3/lib/python3.7/site-packages/marvin/tools/cube.py in _load_cube_from_api(self)
    239         try:
--> 240             response = self._toolInteraction(url.format(name=se

[2021-03-01 01:14] espinozagaleas opened #719 "Problem importin marvin in Python"
I am new in Marvin.
I am trying to use it in SciServer.
I followed instructions in Marvin doc to install it using PIP: pip install sdss-marvin.
Installation looks correct.
I restarted the kernel.
I do: ` import marvin `
I am getting the next error:

Clearly Marvin is not imported so I can not continue doing anything.

 - OS: CentOS 8
 - Browser: safari
 - Version: 14.0.3

[2021-03-01 13:35] havok2063 commented on #719
@espinozagaleas If you are using SciServer, `marvin` is already installed in an image you can use when creating new compute containers.

- Log in to SciServer and access the "Compute" page from your dashboard
- click the "Create Container" button and add a new container name
- select the "Marvin" iamge from the "Compute Image" dropdown
- Under "Data Volumes" section, select the following volumes:

[2021-03-02 01:44] SterlingYM commented on #719
I am also seeing the same error after installing Marvin with ```pip install sdss-marvin``` and try ```import marvin``` in Python.

[2021-03-02 01:57] espinozagaleas commented on #719
Thanks for your answer, now I am able to work in SciServer through the Marvin image. But this is a more general issue, not just for other images in SciServer. I was trying to install Marvin in my Mac and the problem was the same. I will appreciate if you can help me with this issue, I would like install it in my laptop for more mobility. Thanks again.

[2021-03-02 02:21] havok2063 commented on #719
@SterlingYM @espinozagaleas  It looks like it could be related to the `flask_jwt_extended` package.  It seems `4.0.0` introduced some breaking changes.  See https://flask-jwt-extended.readthedocs.io/en/stable/v4_upgrade_guide/.   Try downgrading `flask_jwt_extended` to the latest `3.x.x` version.

[2021-03-02 22:59] SterlingYM commented on #719
Uninstalling Flask-JWT-Extended with
```pip uninstall flask-jwt-extended```
and then
```pip install flask-jwt-extended==3.25.1```
allowed successfully running
```python3 -c 'from flask_jwt_extended import fresh_jwt_required'```
and hence
```python3 -c 'import marvin'```
successfully. Thank you for the suggestion!

[2021-03-02 23:48] espinozagaleas commented on #719
Thanks every body for your help. This issue is closed

[2021-03-02 23:48] #719 closed

[2021-03-05 02:01] briandigiorgio opened #720 "marvin is broken by flask-jwt-extended>4.0.0"
**Description of Bug**
The required dependency `flask_jwt_extended` has updated to v4.0.0 and introduced a number of changes that break old code, listed here https://flask-jwt-extended.readthedocs.io/en/stable/v4_upgrade_guide/?highlight=fresh_jwt_required

This affects `marvin` because it relies on the `fresh_jwt_required` decorator, which has been changed to `jwt_required(fresh=True)`. Because t

[2021-03-05 02:21] briandigiorgio commented on #720
Here's the full traceback:
[code]

[2021-03-05 11:53] havok2063 commented on #720
@briandigiorgio  Thanks for this.  This is a known and was also addressed here #719.   I'll aim to release a quick patch pinning the requirement, with a longer term plan to look at upgrading to `flask-jwt-extended` to `4.0.0`

[2021-03-05 17:26] briandigiorgio commented on #720
Great, sorry about the extra issue. I didn't scroll down far enough to see it in the last one.

[2021-03-14 18:24] macster9 opened #722 "Cannot access nsa from ModelCube or Maps"
**Describe the bug**
Can't access any nsa parameters

**To Reproduce**
type "modelcube = ModelCube('*some plateifu*)
                                                              "modelcube.nsa"
Returns nothing.
          then,
                                                             "modelcube.nsa['z']
returns:
                  "'NoneType' object is not subscriptable.

**Expected behaviour**

[2021-03-14 18:26] macster9 opened #723 "Here is contents of new yml file (MARVIN 2.5.2.yml) works for Windows!! (in anaconda at least)"
name: marvin
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1
  - bzip2=1.0.8
  - ca-certificates=2020.10.14
  - certifi=2020.6.20
  - libffi=3.3
  - openssl=1.1.1h
  - pip=20.2.4
  - python=3.8.5
  - setuptools=50.3.1
  - sqlite=3.33.0
  - tk=8.6.10
  - wheel=0.35.1
  - xz=5.2.5
  - zlib=1.2.11
  - pip:
    - appnope==0.1.0
    - astropy==4.2
    - attrs==20.3.0
    - ba

[2021-03-15 22:13] havok2063 commented on #722
Hi @macster9 , what MPL or data release are you using?  Which version of marvin are you using?  And which plateifu are you trying?

[2021-03-15 22:20] havok2063 commented on #723
@macster9 Thanks for sharing this.  You can also try the latest 2.6.0 conda environment file here, https://anaconda.org/SDSS/marvin/files.

[2021-03-16 13:06] macster9 commented on #722
Hi Brian,

I am using DR15 and DR16 with the same results. I am using marvin 2.6.0,
with the same results in 2.5.0. I am using plateifu '8485-1901', with the
same results in other plates.

I am defining the following:

maps = Maps('8485-1901')
maps.nsa['z']

which should output the nsa value, but instead it outputs 'NoneType' object
is not subscriptable. It appears that all nsa fields are empty.

[2021-04-13 14:31] Rosie492 opened #724 "Unable to import query"
Getting this error when trying to import Marvin query. Was working fine for the last 2 months, suddenly getting this error now out of the blue:

ImportError: cannot import name '_ColumnEntity' from 'sqlalchemy.orm.query' (C:\Users\rosie\Anaconda3\lib\site-packages\sqlalchemy\orm\query.py)

Steps to reproduce the behaviour:
1. Import Marvin
2. from marvin.tools.query import Query

expect no error,

[2021-04-13 14:43] havok2063 commented on #724
@Rosie492  Can you check what version of SQLAlchemy you have installed?  You might have `1.4` installed, which contains some big package changes, and marvin hasn't been tested with 1.4 yet.  Try downgrading to 1.3, e.g. `pip install sqlalchemy==1.3.23`.   If you still get an error, let me know.

[2021-04-13 16:41] Rosie492 commented on #724
![image](https://user-images.githubusercontent.com/71275487/114589269-6be6ce80-9c7f-11eb-8417-3531f77f5fe5.png)

I'm still getting an error.

[2021-04-13 16:49] havok2063 commented on #724
@Rosie492 hmm ok, what version of marvin are you using?  and what OS?

[2021-04-13 17:15] Rosie492 commented on #724
I'm on windows and am unsure what version I am using... - how do I check? (sorry I'm new to marvin)

[2021-04-13 18:23] havok2063 commented on #724
No worries.  If you start an ipython session, and run
[code]
what version number do you see?

[2021-04-13 18:31] havok2063 commented on #724
hmm that's the latest version.  ok, I'll have to take a deeper look then and get back to you.  My Windows machine access is up and down at the moment.

[2021-04-13 18:35] Rosie492 commented on #724
Thankyou! Maybe something has updated in Marvin recently - it was only yesterday when this error came up but before I'd been using it just fine.

[2021-05-03 17:12] manduhmia opened #725 "Loading Spaxels using .getSpaxels"
**Describe the bug**
Error occurs when attempting to load a large  number (~100) of Spaxels at once: using .getSpaxels(threshold = 0.8, lazy= False). An HTTP error usually occurs with trouble finding a specific spaxel's data. However, if I load this problem spaxel on its own, outside the .getSpaxels code using .load() the spaxel is loaded with no error. So it only occurs when attempting to load a

[2021-05-03 17:48] albireox commented on #725
Thanks for the report @manduhmia. I can have a look at this. Could you please send a minimal working example that causes the issue? I.e., a small script or full set of lines of code that triggers this problem? What version of Python are you using, and what DR/MPL?

[2021-05-03 19:08] manduhmia commented on #725
Here is an example that causes the issue:

————————
cube = marvin.tools.Cube('10214-9102')
ap = cube.getAperture((28,28), (8,12, 0.785), aperture_type='elliptical')
spax = ap.getSpaxels(threshold = 0.8, lazy = False)

————————

I am using Python 3.7.4 and MPL-11

Thanks,
Amanda

[2021-05-03 22:29] albireox commented on #725
I can reproduce the error. The initial issue seems to be

[code]

which appears to indicate that the spaxel information cannot be found. @havok2063 can you check if there is a problem with the loading of the properties for that cube?

[2021-05-03 22:40] manduhmia commented on #725
Glad to hear. I also wanted to mention that the spaxel that cannot be loaded is not the same every time I execute this code.

For example, I ran the same code I sent in the previous email two more times and got the following HTTPErrors:

HTTPError: 404 Client Error: Not Found for url: https://sas.sdss.org/marvin/api/cubes/10214-9102/quantities/24/22/ <https://sas.sdss.org/marvin/api/cubes/10214-91

[2021-05-04 01:30] albireox commented on #725
Does this work when you try using a different cube/plate-ifu? I think it's expected that if there is a problem with the loading of the DAP properties for that plate-ifu it would affect all spaxels.

The error is with the API call to `quantities/x/y`, which retrieves the DAP properties. When you do `cube[x, y]` I think you only get the DRP spectrum, so that API call is not issued.

[2021-05-04 02:51] manduhmia commented on #725
This error occurs with almost every cube/plate-ifu I use as long as I am trying to load over 100 spaxels.

[2021-05-04 13:45] havok2063 commented on #725
The API itself looks to be working ok.  I can load the maps quantities for a spaxel via Marvin
[code]
The API response works when I manually submit a post request
[code]
It also seems to work ok if I reduce the size of the aperture
[code]
So it seems like there's a problem when we loop over a large number of spaxels.  I tried the following where I grab the spaxels lazily and loop over to them to l

[2021-05-04 14:15] havok2063 commented on #725
I looked through the web server logs and didn't see any errors, and there are no 404 errors at all.  The last run failed (at spaxel item 20 or so):
[code]
and that spaxel in the log has a 200 success code but just seems to stop
[code]

[2021-05-11 15:34] havok2063 commented on #725
I'm trying to reproduce the error.  What's weird is on the test server, I do not get the same error.  Instead I see this
[code]
which is probably the underlying error that isn't getting caught correctly in the production server.  But both the production and test servers are using the same version of Marvin.  When I check those spaxels, the quantities are still loaded properly even though there's a

[2021-05-11 19:35] manduhmia commented on #725
I recently tried to load a group of 311 spaxels using

spax = ae.getSpaxels(threshold = 0.8, lazy = False)

and I was able to load all of them with no error. I thought I would inform you of this.

Best,
Amanda

[2021-05-12 15:15] havok2063 commented on #725
Interesting.  Was it the same galaxy or a different one?  Are you still encountering the error?

[2021-05-12 23:12] manduhmia commented on #725
It was not the same galaxy we were previously looking at. The galaxy that encountered no error was
plate-ifu: 10510-9102

I am still encountering the error on other galaxies, but not as frequently as before. I can load 100-160 spaxels at a time with no error now using the lazy=False parameter.

[2021-05-13 01:02] juanpabloalfonzo opened #726 "Permission Denied for Temp Folder"
**Bug Description**

I am trying to load up cubes I have downloaded but keep getting the following error:

OSError: filename C:\Users\juanp\sas\dr15\manga\spectro\redux\v2_4_3\7957\stack\manga-7957-12703-LOGCUBE.fits.gz cannot be found: [Errno 13] Permission denied: 'C:\\Users\\juanp\\AppData\\Local\\Temp\\tmp4ys03e44'

It says the .fits.gz file cannot be found but I see it in the directory it's p

[2021-05-14 17:14] havok2063 commented on #726
@juanpabloalfonzo Can you provide the full traceback of the error?

[2021-05-14 17:20] juanpabloalfonzo commented on #726
@havok2063 Sure, I have pasted it below:

---------------------------------------------------------------------------
PermissionError                           Traceback (most recent call last)
~\anaconda3\lib\site-packages\marvin\tools\cube.py in _load_cube_from_file(self, data)
    180                 with gunzip(self.filename) as gg:
--> 181                     self.data = fits.open(gg.name)

[2021-05-14 17:41] havok2063 commented on #725
Hmm, ok.  I find that very strange.  That some galaxies work ok, others don't, the errors don't happen as frequently as before, and it's seemingly random.   I'll have to think on it.

[2021-05-14 18:01] havok2063 commented on #726
So `marvin` unzips each file to temporary directory when opening it to speed up data access.  I think that's happening here is that the application running `marvin` does not have permissions to access, or perhaps delete, the temporary file on Windows.   If you're using an editor like `PyCharm` or `VS Code`, one thing to try is to right-click, and click "Run as Administrator".   Or make sure python

[2021-06-04 19:28] juanpabloalfonzo opened #727 "Getting File Directory from "getImagesByList()""
**Describe the bug**
I am trying to get the directories of a list of images using the getImagesByList() as shown in [this part](https://sdss-marvin.readthedocs.io/en/latest/tools/deprecated/images.html#by-target-list) of the documentation. When I go to print it however I do not get the directory like is shown in the documentation.

**To Reproduce**
images=getImagesByList(['8553-6102','8553-12702']

[2021-06-04 20:09] juanpabloalfonzo commented on #727
Managed to get the directories by putting Image().filename in a for loop that went through the manga id's I was interested in. Not sure if this is the only way to do it now or if the get_images_by_list should also be able to do it.

[2021-06-07 20:21] rlanggin opened #728 "Error in retrieving API token"
# login to receive a token
config.login()

# see token
config.token

MarvinError: Error getting login token. API Authentication Error: Please create or check credentials in your local .netrc file. .
You can submit this error to Marvin GitHub Issues (https://github.com/sdss/marvin/issues/new).
Fill out a subject and some text describing the error that just occurred.
If able, copy and paste the full

[2021-06-24 15:01] karenlmasters opened #729 "Multipanel plots with images don't work"
Trying to put an image into the Multiplot example here: https://sdss-marvin.readthedocs.io/en/latest/tutorials/plotting-tutorial.html#multi-panel-map-plot-single-galaxy by swapping out one of the map commands with an image command

[code]

Result does not put the image plot into the multipanel plot...?
<img width="577" alt="Screen Shot 2021-06-24 at 11 00 41" src="https://user-images.githubusercon

[2021-06-24 17:04] havok2063 commented on #729
Hi @karenlmasters the `plot` method on Maps objects is a custom function that handles `matplotlib` single panel or multi-panel plots.  The `Image.plot` is a separate standalone plot function that just returns a single `matplotlib` figure.  The `ax=axes` input to `Image.plot` isn't doing anything here.  So I don't think what you want to do is possible out of the box.  It's probably a good idea to m

[2021-06-24 18:35] OphelieLeste opened #730 "Unable to download bintype='VOR10' Maps from marvin"
**Describe the bug**
Unable to download bintype='VOR10' Maps from marvin

[code]

[2021-06-24 19:57] havok2063 commented on #730
@OphelieLeste  Are you trying to access VOR10 data locally from files or remotely over the API?  If you are trying to access them remotely, we no longer support VOR10 data in the database, and thus they are unavailable for remote access.  See the changes indicated here, https://sdss-marvin.readthedocs.io/en/latest/whats-new.html, as of version 2.5.0.   However, they are still accessible locally as

[2021-06-25 10:54] charlottetilly opened #731 "image.get_random()"
Issue- when plotting a grid of images, stars and images outside the SDSS database appear, this can cause confusion if the user was only anticipating images of galaxies.
New feature- Ability to only retrieve images of galaxies when using image.get_random()- potentially a new feature called image,.get_random_galaxies() that only returns galaxy images with their plateifu displayed on top of the image

[2021-06-25 13:04] OphelieLeste commented on #730
Hello,

Thank you for the answer, where can I access them to download?

Ophelie Leste.

On Thu, Jun 24, 2021 at 4:57 PM Brian Cherinka ***@***.***>
wrote:

[2021-06-25 13:46] havok2063 commented on #730
Hi @OphelieLeste , are you a member of the SDSS collaboration?   If not, the VOR10 data for the most recent DR16 release, can be found here, https://data.sdss.org/sas/dr16/manga/spectro/analysis/v2_4_3/2.2.1/VOR10-GAU-MILESHC/.   If you are a member of the collaboration, the DAP data for the latest MPL-11 can be accessed on the collaboration SAS website.

[2021-07-14 14:18] micappe opened #735 "OSError: [WinError 87] The parameter is incorrect"
**Describe the bug**

I installed `marvin` in Windows 10 (with Visual Studio 2019, not in WSL) using

    pip install sdss-marvin

After failed attempts with `conda` following your instructions. The package seems to install and download data, but just importing it with

    import marvin

produces ~500 lines of errors and traceback on the console starting with these. The last error vaguely suggest

[2021-07-18 15:55] OphelieLeste opened #737 "Unable to access spectrum of spaxel as described in the plotting tutorial."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follo

[2021-07-26 22:12] #727 closed

[2021-08-19 04:30] bbemc2 opened #738 "cannot return wcs.crpix in query"
**Describe the bug**
cannot return wcs.crpix in query

**To Reproduce**

from marvin.tools.query import Query
my_filter = 'nsa.elpetro_logmass < 9'
rp = ['wcs.crpix1', 'wcs.crpix2']

q = Query(search_filter=my_filter, return_params=rp)

**Screenshots**
MarvinError: API Query call failed: Requests Http Status Error: 500 Server Error: INTERNAL SERVER ERROR for url: https://dr15.sdss.org/marvin/api/q

[2021-08-24 20:06] havok2063 commented on #738
@bbemc2 Thanks! I'll try to dig in and see if I can find the problem.

[2021-08-24 20:32] havok2063 commented on #738
@bbemc2 The issue was that some of the columns in the `wcs` database table, including the `crpix` columns, were an unnecessary `numeric` database column type.  This was causing errors during the JSON serialization process when returning your API request.  I've changed the column types to be either integer or double precision and your query now works now for.  Can you check to see if it works for y

[2021-08-25 07:31] bbemc2 commented on #738
It works now! Thank you very much!

[2021-08-25 07:31] #738 closed

[2021-08-29 07:06] affanadly opened #739 "Can't access Image due to 'No such file or directory' for drpall"
**Describe the bug**
I can't access any Images due to 'No such file or directory error' for the drpall-v2_4_3.fits, even when the file is successfully downloaded and verified to be available.

**To Reproduce**
Steps to reproduce the behavior:
Simply run
[code]

**Expected behavior**
Gives out an error
[Errno 2] No such file or directory: '/root/sas/dr16/manga/spectro/redux/v2_4_3/drpall-v2_4_3.fit

[2021-08-30 10:09] astrosteph opened #740 "Authentication Issue"
Running scripts which usually work, I have the usual collaboration authentication password in the netrc file, and the marvin.yml file set up with a JSON token.

Ran scripts and get authentication error for trying to access remote maps in MPL-11. This is also reproduced if I try to access MPL-10.

[code]

Used config.login and config.token to update and replace the token in the marvin.yml file.

Er

[2021-08-30 13:29] havok2063 commented on #739
@affanadly I'm not sure but looks like it might be a permissions issue(?).  It looks like you're trying to write the SAS contents into `/root`.  If that's a root level system directory, your user running marvin might not have permissions to write files/folders into that place.  Can you check your permissions on `/root`?  Or can you try setting the `SAS_BASE_DIR` environment variable to a new direc

[2021-08-30 14:30] havok2063 commented on #740
Hi @astrosteph hmm, I can't seem to reproduce your error.  My token still works when retrieving remote Maps.  Which maps file are you trying to retrieve remotely?  When you are calling `config.login`, are you specifying the keyword`refresh=True`.  This will force Marvin to generate a new token.   Otherwise just calling `config.login()` will re-use the same token if one is already set.

[2021-08-30 15:03] astrosteph commented on #740
Hey! My mistake, I did not specifiy the refresh. Thank you

[2021-08-30 15:03] #740 closed

[2021-08-30 15:33] havok2063 commented on #740
@astrosteph Great!  Don't forget to copy the new token into your `marvin.yaml` config file to preserve it!

[2021-09-02 15:38] astrosteph opened #741 "Installation Issue with pip"
Hi, trying to simply pip install into python (version Python 3.7.0).
Linux info:
 OS: CentOS Linux 7 (Core)
 Kernel: Linux 3.10.0-693.5.2.el7.x86_64

Pip checks some requirements and downloads some packages, gives a few errors:

`ERROR: jinja2 3.0.1 has requirement MarkupSafe>=2.0, but you'll have markupsafe 1.0 which is incompatible.
ERROR: flask 2.0.1 has requirement Werkzeug>=2.0, but you'll ha

[2021-09-23 16:18] #680 closed

[2021-09-23 16:20] havok2063 commented on #396
I think this is fixed with #681

[2021-09-23 16:20] #396 closed

[2021-09-23 18:01] havok2063 commented on #720
Closing as pinned requirement is in place

[2021-09-23 18:01] #720 closed

[2021-09-23 19:32] havok2063 commented on #451
Closing as this is done.

[2021-09-23 19:32] #451 closed

[2021-09-23 19:44] havok2063 commented on #642
Closing.  This was done.

[2021-09-23 19:44] #642 closed

[2021-09-23 19:44] havok2063 commented on #633
Closing this as we're not planning any big breaking changes.

[2021-09-23 19:44] #633 closed

[2021-09-23 19:45] havok2063 commented on #625
Closing this as Travis is no longer free.  Eventual plan to rebuild test suite for Github Actions

[2021-09-23 19:45] #625 closed

[2021-11-17 20:57] InfinitelyCurious commented on #728
I am also having issues with this. Did you ever get it answered?

[2021-11-17 21:15] InfinitelyCurious opened #744 "Error getting login token"
I am in the process of setting up marvin to use in a terminal, but am stuck at getting an API token. I have set up my .netrc, and it is recognizing it, but then throws the error:

<ipython-input-6-e2eb019c43e1> in <module>
----> 1 config.login()

~/anaconda3/lib/python3.7/site-packages/marvin/__init__.py in login(self, refresh)
    753                 resp = Interaction(url, params=data, auth='net

[2021-11-19 20:36] havok2063 commented on #744
@InfinitelyCurious I can't reproduce this.  Can you provide the steps you do to produce the traceback?  What version of marvin are using?  What MaNGA data release are you trying to access?   And what does `config.access` output?

[2021-11-19 20:37] havok2063 commented on #728
Related to #744

[2021-11-23 07:51] bbemc2 commented on #689
May I know how to adapt your code to the latest Firefly data (manga_firefly-v2_4_3.fits) ?
Or is there any tutorial on matching the spaxel binids to create the 2D map?
Thank you very much.

[2021-11-23 07:56] bbemc2 opened #752 "matching the spaxel binids to create the 2D map in Firefly"
I encountered the same problem as:

https://github.com/sdss/marvin/issues/689

I don't  know how to adapt the code to the latest Firefly data (manga_firefly-v2_4_3.fits) ?
Or is there any tutorial on matching the spaxel binids to create the 2D map?

Thank you very much!!

[2021-11-23 08:03] #752 closed

[2021-11-29 23:22] #650 closed

[2021-11-30 18:05] InfinitelyCurious commented on #744
Hello Brian,

I apologize for the late reply to your email. I am going to attach a text
file with the entire output. I know this is a lot, but I was trying to do a
lot of things at once and I think the problem might be further back.

I started with installing sdss-marvin, then tried to create the conda
environment, which is where I ran into my first error on line 153. It told
me the pip failed to

[2021-12-01 10:46] marcduransala2000 opened #755 "Marvin-sdss-cube"
Hi, this is my problem:

I have already installed "sdss-marvin"
And I have checked that it works with other packages, but in the specific library cube (marvin.tools.cube), it doesn't.

I've put this in the code:
from marvin.tools.cube import Cube
cube = Cube(plateifu='7958-9101')

and it says this error( attached in the message)
![issue](https://user-images.githubusercontent.com/95348918/144220471

[2021-12-02 14:17] havok2063 commented on #755
Hi @marcduransala2000 which data release are you trying to access?  I've been doing some database maintenance and cleanup lately ahead of the final SDSS DR17.  The server may be intermittently down until Monday or so.  This particualar error you are having might be fixed though.  Can you try again?

[2021-12-02 14:28] havok2063 commented on #744
Hi @InfinitelyCurious hmm it sounds like you had or are having some base installation issues.  We don't recommended trying to install marvin in your root system, or use the system Python that comes with the laptop.  For a clean conda installation, you can do the following:
[code]
This creates a new conda environment named "marvin", and installs python 3.8 and ipython into it.  You can change the p

[2021-12-03 17:46] InfinitelyCurious commented on #744
Hello Brian,

I created the conda environment and loaded marvin into as you suggested,
but did get the 500 error in the same place. I know you said it is now
because of maintenance being done before DR17, I am just wondering if you
have an estimate of when the server will be back up? I am kind of stuck
right now not being able to do any work, but cannot find any announcements
on timeframes for upd

[2021-12-05 18:09] marcduransala2000 commented on #755
I've tried to access into SDSS DR16,15 and 17 but it doesn't work this specific package:

from marvin.tools.cube import Cube
cube = Cube(plateifu='7958-9101')

But on the other hand for example, the maps package it works:

from marvin.tools.maps import Maps
maps = Maps(plateifu='7958-9101')

I don't know why. What I could do to solve this problem?

Thank you very much,

Marc

[2021-12-05 18:13] marcduransala2000 commented on #755
This is the error shown
![error4](https://user-images.githubusercontent.com/95348918/144758318-b6c9f0de-7a48-4195-97bb-3f87332f3628.png)

[2021-12-06 01:50] havok2063 commented on #755
@marcduransala2000 I've been performing database and website maintenance.  They have been down this week.  Everything should be back up by tomorrow afternoon.  I would try again then.

[2021-12-06 01:51] havok2063 commented on #744
@InfinitelyCurious Everything should be back up by tomorrow.  I'll still be doing some maintenance on the database but the website and API access should be back up.  This should also resolve the login issues you are seeing.  You may need to refresh your authentication token.

[2021-12-06 21:50] marcduransala2000 commented on #755
all good right now, thank you!

[2021-12-06 23:22] #755 closed

[2021-12-07 02:01] #142 closed

[2021-12-07 02:01] #551 closed

[2021-12-07 21:40] havok2063 commented on #730
This is resolved in the latest DR17 release and `sdss-marvin==2.7.1`

[2021-12-07 21:40] #730 closed

[2021-12-07 21:42] havok2063 commented on #723
Closing this.  A new conda environment for marvin 2.7.1 is out.

[2021-12-07 21:42] #723 closed

[2021-12-07 21:43] havok2063 commented on #718
Closing this as MPL-10 is no longer supported in the web or over remote API access. It still is available via local file mode in marvin.

[2021-12-07 21:43] #718 closed

[2021-12-07 21:46] havok2063 commented on #698
Closing this.  Try updating to the latest marvin.   If it's still an issue, we can open a new ticket.

[2021-12-07 21:46] #698 closed

[2021-12-07 21:48] havok2063 commented on #704
Closing this.  Try updating to the latest marvin.  I've removed the sentry checks, and there are new ways of using the tools as [contextmanagers](https://sdss-marvin.readthedocs.io/en/latest/tools/context.html) to avoid file io.   If it's still an issue, we can open a new ticket.

[2021-12-07 21:48] #704 closed

[2021-12-07 21:49] havok2063 commented on #691
Closing this.  Try updating to the latest version of marvin.  If it's still an issue, we can open a new ticket.

[2021-12-07 21:49] #691 closed

[2021-12-07 21:49] havok2063 commented on #684
This should be resolved now that everything is public.  You may want to switch to dr17.sdss.org/marvin.

[2021-12-07 21:49] #684 closed

[2021-12-07 21:50] havok2063 commented on #640
Closing.

[2021-12-07 21:50] #640 closed

[2021-12-07 21:50] havok2063 commented on #639
Closing.

[2021-12-07 21:50] #639 closed

[2021-12-07 21:50] havok2063 commented on #637
Closing.

[2021-12-07 21:50] #637 closed

[2021-12-07 21:51] havok2063 commented on #621
Closing.  New testing will switch to Github Actions

[2021-12-07 21:51] #621 closed

[2021-12-07 21:51] havok2063 commented on #620
Closing as moving away from Travis to Github Actions

[2021-12-07 21:51] #620 closed

[2021-12-07 21:51] havok2063 commented on #618
Closing.  Moving away from Travis to Github Actions.

[2021-12-07 21:51] #618 closed

[2021-12-07 21:52] havok2063 commented on #619
Closing. Moving away from Travis to Github Actions.

[2021-12-07 21:52] #619 closed

[2021-12-07 21:52] havok2063 commented on #617
Closing this.  Spaxel queries are reintroduced in their original form.

[2021-12-07 21:52] #617 closed

[2021-12-07 21:53] havok2063 commented on #616
Closing this, as they are already reintroduced as is.

[2021-12-07 21:53] #616 closed

[2021-12-07 21:54] havok2063 commented on #612
Closing this.  If this is still an issue with the latest marvin, we can open a new ticket.

[2021-12-07 21:54] #612 closed

[2021-12-07 21:55] havok2063 commented on #568
Closing this.  May no longer be relevant.

[2021-12-07 21:55] #568 closed

[2021-12-07 21:55] havok2063 commented on #567
Closing this.  May no longer be relevant. Can open a new ticket if needed.

[2021-12-07 21:55] #567 closed

[2021-12-07 22:00] havok2063 commented on #388
I don't think this is an issue anymore.  Closing.

[2021-12-07 22:00] #388 closed

[2021-12-07 22:00] havok2063 commented on #364
Closing.  Out of scope for now.

[2021-12-07 22:00] #364 closed

[2021-12-07 22:01] havok2063 commented on #265
This is no longer an issue.

[2021-12-07 22:01] #265 closed

[2021-12-07 22:02] havok2063 commented on #203
I think this is no longer relevant.

[2021-12-07 22:02] #203 closed

[2021-12-07 22:02] havok2063 commented on #198
Closing.  Out of scope.

[2021-12-07 22:02] #198 closed

[2021-12-07 22:02] havok2063 commented on #194
Closing.  Out of scope.

[2021-12-07 22:02] #194 closed

[2021-12-07 22:04] havok2063 commented on #38
Can be closed.  Probably out of scope.

[2021-12-07 22:04] #38 closed

[2021-12-07 22:05] havok2063 commented on #660
Closing this.  Try updating to the latest version of marvin.  If this is still an issue with DR17 or MPL-11, we can open a new issue.

[2021-12-07 22:05] #660 closed

[2021-12-07 22:05] havok2063 commented on #741
@astrosteph Has this been resolved?  Have you tried updating to the latest version of Marvin?

[2021-12-07 22:06] havok2063 commented on #744
@InfinitelyCurious Everything should be back up now.  Is this still an issue?

[2021-12-08 03:47] Kiddverified commented on #728
How can I get API Token?.??

[2021-12-08 13:59] havok2063 commented on #728
https://sdss-marvin.readthedocs.io/en/latest/installation.html#access-and-authentication

But everything is released publicly now.  You can avoid token by just accessing dr17.sdss.org/marvin or using the python Marvin in `config.access=public` mode, and setting the release to DR17.

Going to go ahead and close this.

[2021-12-08 13:59] #728 closed

[2021-12-08 17:23] InfinitelyCurious commented on #744
It is actually. It's telling me now "MarvinError: Error getting login
token. API Authentication Error: Please check your authentication method..
."

On Tue, Dec 7, 2021, 4:06 PM Brian Cherinka ***@***.***>
wrote:

[2021-12-08 19:25] havok2063 commented on #744
Can you provide some example code to see if I can reproduce the problem?  Have you updated to the latest version of marvin, 2.7.1 or 2.7.2?  Do you have an old token stored in your custom configuration?  Have you tried forcing a fresh token to be generated?  If things still fail after that, you can always switch to the public mode of marvin.  DR17 is out, so all MaNGA data is now publicly availabl

[2022-01-25 13:38] IsaacZ10 opened #766 "Error when trying accessing data remotely: No url map found"
**Describe the bug**

Not able to retrieve data when using Maps.

**To Reproduce**

Just trying to run a simple command, which used to work the day before. I've already updated the marvin to the latest version.
code and report:

[code]
**Desktop (please complete the following information):**
 - Ubuntu 16.04 LTS
 - Version of Marvin [e.g. 2.0.2]

**Additional context**
Also not able to access the M

[2022-02-15 20:55] TheRealEKL opened #767 "Error with Investigating Gas and Stellar Kinematics Exercise"
Hello, when I download the Jupyter Notebook for the Marvin exercise "Investigating Gas and Stellar Kinematics", I receive this error:
<img width="1078" alt="Screen Shot 2022-02-15 at 3 52 21 PM" src="https://user-images.githubusercontent.com/99765196/154147236-58430032-c1c7-418e-8297-7b6af58fba62.png">

I am using this exercise as a reference to learn how to multiply / divide maps to acquire a new

[2022-02-22 22:15] astromariarosa commented on #767
I'm unsure if there are nuances I'm missing regarding the intention of those lines, but swapping the first two lines with `diff = havel - stvel` and then explicitly updating the ivar, mask, etc. as originally written works for me.

For the Marvin team: if this is a valid approach, could this be updated in the Kinematics exercise?

[2022-02-22 22:47] havok2063 commented on #767
@TheRealEKL  Sorry the delay in seeing this.  This has been an outstanding issue with this notebook for a while but haven't had the time to look into it.  @astromariarosa If that solution works, and makes a working notebook, then yeah I think it's reasonable to update the notebook.  Would you mind submitting a PR with those changes?

[2022-02-23 17:17] #741 closed

[2022-02-23 17:28] astrosteph opened #768 "NSA Access through maps.nsa functional on one system but not on another"
Hello,

Having updated marvin to the newest version (2.7.2 on both systems -- local and remote cluster), and set release to DR17, if I run the following locally everything works out. However running this on the remote system fails. I am struggling to see what the difference could be?
Running:

Local system: loads NSA data
Remote system:

Local system:
Python 3.7.4 (default, Aug 13 2019, 20:35:49)

[2022-03-16 02:45] piper-maxwell opened #769 ""BrainError" when trying to load Maps file remotely: "No URL Map found. Cannot make remote call""
**Describe the bug**
Hello,

I am trying to load Maps file remotely using Marvin. I have been able to do this, using these same lines of code, many times in the past. However, recently it has been taking longer and longer to load the Maps files, and today I got a new "BrainError", saying I cannot make the remote call to the file.

I am using Marvin version 2.7.2 and have set the data release to DR

[2022-03-17 21:45] havok2063 commented on #769
Hi @piper-maxwell , can you please try again?  Marvin was experiencing increased API usage which shutdown its web and other services.  We realized this today and are currently dealing with it.  Marvin should be back up and running now.  This may have been the cause of your issue.  Let us know.

Also, roughly how many galaxies are you iterating over in your loop?  Does it crash at the same place ea

[2022-03-17 21:51] piper-maxwell commented on #769
Hi @havok2063,

Yes, this looks to be the cause of my issue - everything seems to be working again, thank you!

Also, I was only iterating through ~120 galaxies, however the BrainError was called on the first iteration of the loop. Even after changing which galaxy was first in the loop, the BrainError was called.

Thanks for the reply!

[2022-03-17 22:01] #769 closed

[2022-03-17 22:05] havok2063 commented on #768
@astrosteph There are some slight differences when accessing the NSA parameters from a local Maps file object versus a remote Maps object.  Locally it accesses them from your local drpall file, which is a subset of the full NSA set.  Remotely it accesses the full NSA set from the database.  This may be the culprit, but I would need to see a full traceback of any errors and the contents of `maps.ns

[2022-03-30 08:36] marmezcua opened #770 "Marvin Image task"
**Describe the bug**
I'm trying to use the Marvin Image task locally but I cannot find where/how to download the images from so that Marvin can access them. I have tried downloading the images from the SDSS Legacy Imaging images (https://www.sdss.org/dr17/manga/manga-data/data-access/), but Marvin Image does not recognize them.

**To Reproduce**
I have the SDSS Legacy Image of plateifu='7443-12703

[2022-03-31 19:20] havok2063 commented on #770
Hi @marmezcua please see the documentation on Marvin Image https://sdss-marvin.readthedocs.io/en/latest/tools/image.html.  The `Image` tool is like the rest of the marvin tools.  It has a `.download` method to download the remote file locally.  See https://sdss-marvin.readthedocs.io/en/latest/reference/tools.html#marvin.tools.image.Image.download.  It also has a `.plot` or a `.show` method for dis

[2022-04-06 20:36] TheRealEKL opened #771 "Computing Star-Formation Rates and SFR Densities using Marvin solution help?"
I am currently trying to calculate the star formation rates of some galaxies using this exercise, but I am a bit confused. I was wondering if there was a solution (like there are for the other Marvin exercises) available somewhere? Would really appreciate this, thank you!!

[2022-04-07 05:26] prajwel opened #772 "Enhanced map plot results in bad pixel scaling"
Hi,

Thank you for maintaining this excellent software. I would like to report the following problem.

The enhanced map plot results in bad pixel scaling.

To reproduce the problem, please run the following script
[code]
![Figure 1](https://user-images.githubusercontent.com/1685962/162125932-96cf7583-cb53-4433-9045-e925f241fb0e.png)
[code]
![Figure 2](https://user-images.githubusercontent.com/1685

[2022-04-08 00:55] bretthandrews commented on #772
Hopefully the `log_cb` keyword should do the trick:

`log_ha_hb.plot(log_cb=True)`

[2022-04-08 05:45] prajwel commented on #772
[code]
gives the following error.
[code]

[2022-04-08 19:13] ledwar04 opened #773 "Unable to use marvin ID to access marvin on the web data"
Unable to get information from Marvin on the Web, after typing the marvin ID into the search box. Also fails for plate-ID, also fails when using the 'roulette' feature and clicking on one of the images.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2022-04-08 20:14] havok2063 commented on #771
Hi @TheRealEKL I don't think we have a solution available.  I'm not the original author of that exercise.  Is there a particular step you are getting confused on?  I can try to help.

[2022-04-08 20:16] havok2063 commented on #773
Hi @ledwar04 can you provide an example galaxy you are trying to access, which data release, and marvin website?

[2022-04-08 20:19] havok2063 commented on #772
Which version of `sdss-marvin`, and `matplotlib` do you have installed?

[2022-04-08 20:31] TheRealEKL commented on #771
Mainly steps 4-6. I am not sure how to apply the S/N cutoffs that are listed. Also,  I am trying to calculate SFR's of E+A galaxies so I am interested in areas where the SFR is zero so I do not want that to get masked out. Lastly, specifically how to retrieve the flux of H-alpha and H-beta; is this flux simply the emission of H-alpha and H-beta? Or will I need to make use of the equivalent width a

[2022-04-08 20:47] ledwar04 commented on #773
Works now!
________________________________
From: Brian Cherinka ***@***.***>
Sent: Friday, April 8, 2022 1:16 PM
To: sdss/marvin ***@***.***>
Cc: Louise Olivia Violet Edwards ***@***.***>; Mention ***@***.***>
Subject: Re: [sdss/marvin] Unable to use marvin ID to access marvin on the web data (Issue #773)

Hi @ledwar04<https://github.com/ledwar04> can you provide an example galaxy you are trying

[2022-04-08 20:50] havok2063 commented on #773
Great!

[2022-04-08 20:50] #773 closed

[2022-04-08 21:08] havok2063 commented on #771
Ahh ok, I can try to point you in a few directions that might help.  For steps 4-5, see the [the Marvin BPT docs](https://sdss-marvin.readthedocs.io/en/latest/tools/bpt.html#marvin-bpt), for how to use this feature, apply S/N cutoffs, use the masks, etc.  For steps 5-6, see the following two plotting tutorials for examples of how to use the masks on flux plots, [plot H-alpha map of SF spaxels](htt

[2022-04-09 05:50] prajwel commented on #772
I am using the Marvin image on SciServer. The versions are as follows.
[code]

[2022-04-11 19:35] bretthandrews commented on #772
Right! I believe that the issue is that the signal-to-noise mask doesn't play well with log quantities. One way around this is to set `snr_min=-1000` or something low enough to not cut any good data. The other way is to use the linear ratio and use a log-scaled colorbar: `ha_hb.plot(log_cb=True)`.

[2022-05-16 12:59] ameliafm612 opened #774 "Marvin install error - issue with markupsafe package"
**Describe the bug**
Just tried to install Marvin on a 2020 MacBook Pro OSX 10.15.7. The .yml failed with an ipython error (that might be on my end), so I followed the instructions to create a clean, isolated, conda virtual environment from scratch. This worked fine, but on trying to import marvin.config in ipython, I got the error 'ImportError: cannot import name 'soft_unicode' from 'markupsafe'

[2022-06-07 21:49] khrrubin opened #775 "Installation failure with python3.8"
Hi all,

I just attempted a new installation of marvin on my M1 mac.  When running check_marvin, I got the following failure:

Traceback (most recent call last):
  File "/Users/krubin/anaconda3/envs/marvin/bin/check_marvin", line 66, in <module>
    raise ImportError('Marvin cannot be imported! {0}\n{1}'.format(e, traceback))
ImportError: Marvin cannot be imported! cannot import name 'soft_unicode

[2022-06-25 10:31] Riddhi315 opened #776 "NotImplementedError: np.power is not implemented for Map."
**Describe the bug**

I am not able to apply np.power or ** on maps.
I want to do this:-
10**(ha/hb)
But I'm getting the NotImplementedError.

**To Reproduce**
Steps to reproduce the behavior:

from marvin.tools.maps import Maps
maps = Maps(plateifu='12483-9102')
ha = maps.emline_gflux_ha_6564
hb = maps.emline_gflux_hb_4862
c= 10**(ha/hb)
c.plot()

**Screenshots**
![Screenshot (1505)](https://user

[2022-06-27 22:53] havok2063 commented on #776
@Riddhi315 Please see the documentation on the Marvin Map, https://sdss-marvin.readthedocs.io/en/latest/tools/map.html#.  Only some array arithmetic is supported.  For more complex operation, you should access the array values directly.
[code]

[2022-06-28 03:47] Riddhi315 commented on #776
I tried to do this as well. But I got this error:-
![Screenshot (1507)](https://user-images.githubusercontent.com/71591513/176087718-97bfb91a-da1d-4ed2-a3e3-05dbe2ea3ef1.png)

[2022-06-28 11:09] havok2063 commented on #776
@Riddhi315 the Marvin Map just wraps a numpy array, where the data are actually stored.  When you call `ratio.value` you are accessing the underlying numpy data array.  Numpy arrays do not have plot functions.  See https://numpy.org/doc/stable/user/absolute_beginners.html.  If you want to plot the numpy array data, you need to make the plot yourself, using a library like `matplotlib`, https://matp

[2022-07-10 04:03] TheRealEKL opened #777 "Spatially-Resolved Mass-Metallicity Relation CSV file doesn't exist"
Hello,

In the Spatially-Resolved Mass-Metallicity Relation solution, in the Compute Stellar Mass Surface Density section, the CSV file for reading in the Firefly data for stellar mass doesn't exist anymore. I downloaded the Firefly VAC fits file, read it into a CSV but I am unsure of how to proceed. With this data, the only thing I am trying to do is to get the stellar mass (which is the next ste

[2022-07-11 03:19] #777 closed

[2022-07-11 03:20] TheRealEKL opened #778 "Spatially-Resolved Mass-Metallicity Relation exercise help"
Hello,

In the Spatially-Resolved Mass-Metallicity Relation solution, in the Compute Stellar Mass Surface Density section, the CSV file for reading in the Firefly data for stellar mass doesn't exist anymore. I downloaded the Firefly VAC fits file, read it into a CSV but I am unsure of how to proceed. With this data, the only thing I am trying to do is to get the stellar mass (which is the next ste

[2022-07-12 00:28] TheRealEKL commented on #778
ahhhh I see! Thank you very much, got it working. Going to work on maneuvering around the FIREFLY data, thank you again!

[2022-07-12 17:55] #775 closed

[2022-07-12 17:55] #778 closed

[2022-07-12 18:11] #774 closed

[2022-07-12 18:12] havok2063 commented on #767
This is fixed in the latest 2.7.3 release of marvin.  The docs should now be updated.

[2022-07-12 18:12] #767 closed

[2022-07-14 03:10] TheRealEKL commented on #778
@havok2063 I have been trying to recreate the CSV file (with different PlateIFU's) and I'm having some trouble. I've loaded the FITS file, but I am stuck on how to locate a specific PlateIFU's values for stellar mass. Every time I try to just load the "STELLAR_MASS_VORONOI" extension into a CSV I get an error about not being able to send a multidimensional array into a CSV file. I would really app

[2022-07-17 04:53] TheRealEKL opened #781 "Trouble with "Constructing the Spatially-resolved Mass-Metallicity Relation" exercise"
Hello,

in the "Constructing the Spatially-resolved Mass-Metallicity Relation" exercise, I am having trouble understanding how the CSV file was created. I have been looking through the FIREFLY FITS file here:

<img width="1018" alt="Screen Shot 2022-07-17 at 12 47 54 AM" src="https://user-images.githubusercontent.com/99765196/179384361-c04bca4d-bbb0-40aa-96ee-25c34569fd82.png">

And I am confused

[2022-07-18 13:38] havok2063 commented on #781
Hi @TheRealEKL I wasn't the original author of that tutorial so I can't say for sure how that CSV file was made.  The author probably extracted the data from the FIREFLY VAC, reshaped it in the format of a 2d map slice, and saved it out to a CSV file.  That tutorial was also written using an older version of the FIREFLY VAC, so the file structure may have changed.  If so, then it may not be transp

[2022-07-19 00:58] TheRealEKL commented on #781
Hello @havok2063 ,
I've reshaped the data for image use, but I've noticed that the original list of values is out of order, so the resulting image is useless. I noticed on the firefly data model website that the 4th HDU contains spatial information including x-position and y-position, would I have to manually sort through this data to orient the image correctly or is there a more efficient process

[2022-08-22 12:54] karenlmasters opened #789 "Link correction in GZ3D tutorial"
Link to "VAC documentation" in GZ3D tutorial notebook should be https://www.sdss.org/dr17/data_access/value-added-catalogs/?vac_id=galaxy-zoo-3d, not https://www.sdss.org/dr17/data_access/value-added-catalogs/?vac_id=galaxyzoo-3d as it is currently.

Mostly a note to self once I remember how to submit a pull request to fix this. I forgot again.

[2022-10-11 08:21] Riddhi315 commented on #776
I tried to do this as well.But I got this error:-

Thanks,
Riddhi

On Tue, 28 Jun, 2022, 04:24 Brian Cherinka, ***@***.***>
wrote:

[2022-11-02 14:27] bmamrutha opened #790 "Marvin Error : Cube download DR17"
**Describe the bug**
MarvinError: mangaid2plateifu was not able to find a plate-ifu for mangaid=1-149541 either local or remotely.

**To Reproduce**
Steps to reproduce the behaviour:

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser : Chrome (if the issue is related to Marvin Web)
 - Version of Marvin [e.g. 2.0.2]

**Additional context**
-----------------------

[2022-11-25 11:32] CptnN3MO opened #791 "Import error: cannot import name 'escape' from 'jinja2'"
**Describe the bug**
Unable to import escape or subsequent pacages

from jinja2 import escape
     15 from jinja2 import Markup
     16 from werkzeug.exceptions import abort

ImportError: cannot import name 'escape' from 'jinja2' (/home/cptnn3mo/.local/lib/python3.10/site-packages/jinja2/__init__.py)

**To Reproduce**
Steps to reproduce the behaviour:
import marvin

**Expected behaviour**
expected

[2022-11-29 22:04] havok2063 commented on #791
@CptnN3MO For now try downgrading `jinja2` to < 3.1, `pip install -U "jinja2>3,<3.1"`.  We can't update `jinja2` and `flask` yet to their latest versions due to an issue with the `flask-jwt-extended` dependency which implemented a lot of breaking changes with version >4.  I'll need to spend some time fixing those.

[2022-11-30 15:30] havok2063 commented on #791
You can also try upgrading `jinja2` and `flask` but pinning the `werkzeug` dependency to >2, <2.1

[2022-11-30 20:06] CptnN3MO commented on #791
Thank you for that, that works out perfectly.

On Wed, Nov 30, 2022, 21:00 Brian Cherinka ***@***.***> wrote: